*{
    color: white;
}
body{
    height: 100vh;
    background: url(xx2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    justify-content: center;
    display: flex;
}

fieldset{
    font-size: large;
}
label{
    width: 220px;
    display: inline-block;
    font-weight: 500;
    font-size: large;
}
.contenue{
    width: 760px;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
.premier{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(7,auto);
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    width: 100%;
    display: flex;
    margin: 40px auto;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 5px 5px rgba(173, 216, 230, 0.5);
 
}
.pren,.nom,.Email,.Sujet,.Mess,.sub,.h2{
    grid-column: 2/-1;
    padding-bottom: 15px;
    
}

.sub{
    display: flex;
    align-items: center;
}
.sub button{
    margin-left: 100px;
    width: 70px;
    height: 30px;
    border-radius: 40px;
}
.Mess {
    display: flex;
    grid-column: 2/-1;
}
textarea{
    height: 90px;
    width: 170px;
    resize: vertical;
}

.dexiemme{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(10,auto);
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    width: 100%;
    box-shadow: 10px 5px 5px rgba(173, 216, 230, 0.5);
    
}
.h3{
    grid-column: 2/-1;
}
.tel,.date,.Formation,.etude,.sex,.choix,.Bu{
    grid-column: 2/-1;
    padding-bottom: 15px;
}
.etude{
    display: flex;
}
.choix{
    display: flex;
}
.sex{
    display: flex;
    align-items: center;
}
.Bu{
    display: flex;
    align-items: center;
}
.Bu input{
    margin-left: 100px;
    width: 70px;
    height: 30px;
    border-radius: 40px;
}
div{
    margin-left: 0;
}
.troiseiemme{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,auto);
    display: grid;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    width: 100%;
    display: flex;
    margin: 40px auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 5px 5px rgba(173, 216, 230, 0.5);
}
.pre,.services,.info{
    grid-column: 2/-1;
}
.services{
    display: flex;
}
.pwd,.Conf_pwd{
    padding-bottom: 15px;
}
.s2{
    width: 500px;
    display: flex;
    align-items: center;
}
fieldset{
    width: 500px;
}
h2{
    padding-bottom: 20px;
    padding-left: 50px;
    padding-top: 20px;
}
.pai,.ajouter,.bu{
    padding-bottom: 15px;
}
.bu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bu .x2{
    margin-left: 40px;
    width: 85px;
    height: 30px;
    border-radius: 40px;
}
.x4{
    width: 75px;
    height: 30px;
    border-radius: 40px;
}
button:hover,select:hover,.x3:hover{
    cursor: pointer;
}
input,button,textarea,select{
    background-color: rgba(81, 81, 165, 0.735);
    border: solid 1.5px white;
}
input,textarea,select,option{
    color: black;
    background-color: white;
}
button{
    color: black;
    font-weight: bold;
    background-color: white;
    box-shadow: 12px 12px 20px rgba(173, 216, 230, 0.5);
}