*{
    margin: 0;
    padding: 0;
    color: white;
}
body{
    height: 100vh;
    background: url(xx2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: "Inter", sans-serif;

}
.contenue{
    width: 90%;
    height: 90%;
    margin: 50px 20px;
    justify-content: space-evenly;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    box-shadow: 10px 5px 5px rgba(173, 216, 230, 0.5);
    
}
header{
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;

}
ul{
    width: 80% ;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    padding: 30px 0;
    margin: 0 10px;
    flex-wrap: wrap;
    overflow: hidden;
}
li{
    list-style: none;
    justify-content: space-between;
    display: flex;
    
}
    
a{

    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 7px 10px;
    display: flex;
    border-radius: 40px;
    justify-content: space-between;
}
p{
    margin: 0 5px;
}
ul li a:hover {
    cursor: pointer;
    background-color: #3f4e5e;
    overflow: hidden;
    opacity: 1;

}

.body{
    margin: 30px 20px;
    width: 320px;
    height: 100%;

}
h2{
    width: 250px;
    margin: 30px 0;
    font-size: 37px;
    letter-spacing: .7px;
    word-spacing: 3px;
    text-transform: uppercase;;
}
.texte p{
    font-size: 25px;
    word-spacing: .7px;
    width: 600px;
    word-spacing: 2px;
    font-weight: 500;
}
